.dep {
  border: 0px solid black;
  display: flex;
  height: "40px";
  margin: 20px auto;

  border-radius: 50px;
}

.frm {
  border: 0px solid green;
  width: 90%;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  border-top-right-radius: 28px;

}
.rad {
  border: 0px solid blue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50px;
  font-weight: bold;
}

.maindiv {
  border: 0px solid green;

  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.bottom {
  border: 0px solid red;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}
.card {
  border: 0px solid yellow;
  display: flex;
  gap: 0px;

  padding: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.img {
  padding: 10px;
  border-radius: 10px;
}

.search {
  border: 0px solid black;
  margin: 10px 10px 10px 5px;
  width: 30%;
  height: 40px;
  border-radius: 5px;
}
.bar{

 width: 90%;
 margin: auto;
 height: 50px;
 border-radius: 1px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;     
          

}
.srh{
border:1px solid gray;
margin: 7px 5px 5px 20px;
 margin: auto;
 height: 50px;
 border-radius: 5px;
 width: 82%;
 text-align: center;

}

.btn {
  margin-left: 100px;
  padding: 1px;
  border: none;
  color: teal;
  font-weight: bold;
  padding: 10px;
}
.lastpart {
  width: 90%;
  margin: auto;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  background-color: rgb(231, 231, 231);
}
.final {
  height: 200px;
  margin: auto;
  background-color: black;
  display: flex;
  width: 90%;
}
.end {
  margin-top: 50px;
  margin-left: 800px;
}
.hotelpage {
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 30px;
  padding: 2rem;
}
.image {
  width: 90%;
  border: 0px solid greenyellow;
  margin: 0px 0px 10px 25px;
}
.Cardpart {
  border: 0px solid pink;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.foot1 {
  border: 0px solid blue;
  width: 90%;
  margin: auto;
  background-color: #f2f2f2;
}
.head {
  margin: 8px 0px 5px 15px;
  font-size: 10px;
  font-weight: bold;
}
.txt {
  margin: 8px 0px 5px 15px;
  font-size: 13px;
}

.myslider{
  border: 0px solid green;
  width: 90%;
  margin: 20px auto;
  margin-top: -56px;
}
